<h1>Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Condition</th>
      <th>Experts </th>
    </tr>
  </thead>
  <tbody>
  <% @conditions.each do |condition| %>
    <tr>
      <td><%= link_to condition.condition_name, "/conditions/#{condition.id}" %></td>
      <td>      </td>

    </tr>
  <% end %>
  </tbody>
</table>
