<h3>Condition profile: <%= @condition.condition_name %></h3>

<dl class="dl-horizontal">
<dt>Condition category ID:</dt> <dd><%= @condition.condition_category_id %></dd>
<dt>Condition ID:</dt> <dd><%= @condition.condition_id %></dd>
<dt>Users:</dt> <dd><%=  %></dd>
</dl>
