<h1>Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Treatment Category</th>
      <th>Treatment</th>
      <th>Users </th>
    </tr>
  </thead>
  <tbody>
  <% @treatments.each do |treatment| %>
    <tr>
      <td><%= treatment.treatment_category_id %></td>
      <td><%= link_to treatment.treatment_name, "/treatments/#{treatment.id}" %></td>
      <td>      </td>

    </tr>
  <% end %>
  </tbody>
</table>
