<h2>Patient Hub allows individuals who are recently diagnosed with a disease or who must undergo a major surgery to find and connect with other individuals who have experienced the same disease or surgery and can act as an expert resource. Get started today! What do you want to do?</h2>


