<h3>Patient Hub connects people affected by health conditions. </h3>

<h4>  Our platform allows individuals diagnosed with a health condition to connect with others who have experienced the same condition and who can act as an expert resource.</h4>
